<?php
include "header.html";
?>


<h3>
This is a solution for the "comments system" task implemented by Alexei Kochetov.
</h3>


<p>
This comment system provide beckend with REST api which allow users to post comment on a web page. Frontend is implemented on the javascript and uses XMLHttpRequest to communicate with backend.
Users can add answer comments anonymously. New comments are marked as unchecked unless user fill anti-spam form. I think that it's a good idea to allow user make an action as easy as possible avoiding them from terrible pre-checks. Please find sources attached in the <a href="/commnets.zip">zip file</a>. You may find some links and howto below.
<br>
<br>
Best,<br>
Alexei
</p>


<ul>
<li><a href="https://github.com/alex-k/goodgames_test1">Sources on the github</a></li>
<li><a href="/webpages">List of all registered pages</a></li>
<li><a href="/test.html">Demo page with comments enabled</a></li>

</ul>


<h3>Frontend installation</h3>
<p>
to add comment script on your page please add this code into it

<pre>

<?php echo htmlspecialchars('
    <div id="Comments"> </div>
    <script type="text/javascript" src="http://test1.phpbee.org/js/comments.js"></script>
    <script type="text/javascript">
        Comments.comments();
    </script>

'); ?>

</pre>

</p>
<p>


you may pass extra options on your need

<pre>


<?php echo htmlspecialchars('
    <div id="commentsplacefolder"> </div>

    <script type="text/javascript" src="http://test1.phpbee.org/js/comments.js"></script>
    <script type="text/javascript" >
        Comments.init({
                page_id: "ytwrweytrweyt",
                target: document.getElementById("commentsplacefolder"),
                data: "http://test1.phpbee.org/",
                data_list : "/comments/list.json?url=",
                data_post : "/comments/post.json?url=",
                tpl: "js/tpl",
                tpl_list : "/list.html",
                tpl_post : "/post.html",
                tpl_form : "/form.html"
                });
        Comments.comments();
    </script>
'); ?>

</pre>
</p>

<h3>Backend Installation</h3>
<p>
You will need PHP 5 and MySQL to run backend on your server. Connection strings and passwords are stored into config.php file. You have to create database and access, all needed data tables will be created by the script automatically. 
</p>
<p>
To run this script under Apache web server please be ensured you have rewrite module installed,  .htaccess files enabled or manually add <a href="/apache.conf">apache.conf</a> to your apache.<br/>
</p>
<p>
If you run nginx web server you may use <a href="/nginx.conf">nginx.conf</a>.
</p>


<?php
include "footer.html";
?>
